<div class="container">
  <h1>Login</h1>
  <p>Please enter your credentials</p>
  <form action="/login" method="post"  name="login_verification_form">
    Username: <input type="text" name="user_name">
    Password: <input type="password" name="password">
    <input type="submit" value="Submit!">
  </form>

  
</div>
