<div class="container">
  <h1>Welcome <%= @user.first_name %></h1>
  <div>
  <p>Words of Wisdom:</p>
  <div>
  <blockquote><%= @wisdom %></blockquote>
  </div>
  </div>

  <a href="/logout">Logout</a>
  
</div>
